* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

li,
a {
  list-style: none;
  text-decoration: none;
}

/* Header */
#space__navbar {
  background-color: #000;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.space__logo a {
  color: #ffffff;
}

#space__navbar ul {
  display: flex;
  padding-top: 13px;
  gap: 50px;
}

#space__navbar a {
  color: #ffffff;
}

.navbar__icons {
  display: flex;
  gap: 30px;
}

/* Main */
#carousel__promotions img {
  height: 70vh;
  width: auto;
  object-fit: cover;
}

/* galery men */


