/* footer */
@use "variables" as v;

footer {
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: v.$color-primario;
    color: v.$color-secundario;
  }
  
  .footer__container {
    display: flex;
    align-items: center;
    padding-bottom: 25px;
    justify-content: space-between;
  }
  
  .footer__text {
    margin-left: 100px;
    font-size: 3rem;
    cursor: pointer;
  }
  
  .footer__text {
    color: v.$color-secundario;
  }
  
  .footer__text:hover {
    color: v.$color-primario-hover;
  }
  
  .footer__links {
    display: flex;
    gap: 25px;
    margin-right: 100px;
    cursor: pointer;
  }
  
  .footer__links a {
    color: v.$color-secundario;
  }
  
  .footer__links a:hover {
    color: v.$color-primario-hover;
  }
  
  .footer__icons {
    display: flex;
    justify-content: center;
    gap: 25px;
    cursor: pointer;
  }
  
  #footer p {
    display: block;
    text-align: center;
    padding: 25px;
  }