/* css pagina hombre */
#section__hombres {
    display: flex;
    justify-content: center;
  }
  
  .categorias__hombres {
    display: flex;
    padding-top: 50px;
  }
  
  .forms__hombres {
    gap: 55px;
    padding-right: 200px;
  }