/* css pagina mujer */
#section__mujeres {
    display: flex;
    justify-content: center;
  }
  
  .categorias__mujeres {
    display: flex;
    padding-top: 50px;
  }
  
  .forms__mujeres {
    gap: 55px;
    padding-right: 200px;
  }