/* css pagina zapatos */
#section__zapatos {
    display: flex;
    justify-content: center;
  }
  
  .categorias__zapatos {
    display: flex;
    padding-top: 50px;
  }
  
  .forms__zapatos {
    gap: 55px;
    padding-right: 200px;
  }